{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
<style>
body{
   margin: 0;
   background-image: url("{% static 'images/bg.jpg' %}");
   background-repeat:no-repeat;
   background-attachment:fixed;
   background-position:100% 100%;
   min-height:100%;
   min-width:100%;
   background-size:cover;
}
</style>

<!-- Nazwa strony na karcie w przeglądarce-->
    <title>Recepty na Smak - najlepsze przepisy w internecie</title>
    <link rel="Stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <meta charset="UTF-8">
          <!-- Odnośnik do osobnego pliku .css-->
        
          
   </head>
<!-- Znacznik body wraz z tłem dla całej strony-->
  <body>
<!-- Kartonik zbiorczy mniejszych sekcji-->
<div id="box">
     <div id="gora">
          <!-- Klasa-->
         <div class="Nawigacja">
               <hr>
               <a href="{% url 'szukaj' %}">Szukaj Przepisu</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="{% url 'index' %}">Strona Główna</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="{% url 'lista' %}">Lista Przepisów</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="{% url 'uzytkownicy' %}">Użytkownicy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <a href="{% url 'dodaj' %}">Dodaj Przepis!</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             </div>
        </div>

<!-- Środkowa część strony czyli przepisy wlasciwe, odświeżać się będzie w zależności od wybranego linku w nawigacji-->
          <div id="Srodek">
<h1>Witaj na stronie Recepty na Smak - najlepsze przepisy w internecie!</h1>
<br><h2>Na naszej stronie znajdziesz wiele podstron ułatwiających nawigowanie serwisu!</h2><br>
Zachęcamy do korzystania z hiperłącz umieszczonych w górnej części strony, a także poniżej:<br>
<br><h3><a href="{% url 'szukaj' %}">Szukaj przepisu</a></h3>
Główna funkcjonalność strony - umożliwia sortowanie po kryteriach
<br><h3><a href="{% url 'index' %}">Strona główna</a></h3>
Przekierowuje zagubionych na początkową stronę
<br><h3><a href="{% url 'lista' %}">Lista Przepisów</a></h3>
Lista Przepisów
<br><h3><a href="{% url 'uzytkownicy' %}">Użytkownicy</a></h3>
Lista użytkowników serwisu
<br><h3><a href="{% url 'dodaj' %}">Dodaj Przepis!</a></h3>
Podziel się z nami swoimi recepturami!
</div>



<!-- Prawa część strony-->
          

    
<div id="Prawy">
          <a href="{% url 'dodaj' %}">
          <input style="font-size : 1vw" name="" id="" type="button" value="Dodaj Przepis!">
          </a>
          <br>
          </div>
 </div>

  </body>
</html>
